/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to right,  red ,  black);
	color: white;
	font-size: 1.5em;
}

/*estilo de etiquetas*/
label{
	font-size: 1.2em;
}

/*estilo de botones*/
button{
	font-size: 1em;
	background-color: black;
	color: white;
}

img{
	width: 300px;
}
