/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to left,  green ,  blue);
	color: white;
	font-size: 1.5em;
}

/*estilo de etiquetas*/
label{
	font-size: 1.2em;
}

/*estilo de cuadros de ingreso*/
input{
	background-color: silver;
	color: black;
	font-size: 1em;
	border: 3px double;
}

/*estilo de botones*/
button{
	font-size: 1em;
	background-color: black;
	color: white;
}
