/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to right,  blue ,  red );
	color: white;
}

/*estilo de los links*/
a:link{
	color: yellow;
}

a:visited{
	color: orange;
}
