body {
  background-image: linear-gradient(to right,  lightblue ,  blue);
	color: white;
	font-size: 1.5em;
}

/*estilo de botones*/
button{
	font-size: 1em;
	background-color: darkblue;
	color: white;
  width: 15%;
}

/*estilo de las imágenes*/
img{
  border: 10px double darkblue;
  padding: 5px;
}

#galeria{
  height: 700px;
}
