/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to left,  purple ,  white);
	color: black;
}

/*estilo de los links*/
a:link{
	color: red;
}

a:visited{
	color: yellow;
}
