/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to right,  purple ,  green );
  color: yellow;
}

/*estilo de los links*/
a:link{
	color: blue;
}

a:visited{
	color: orange;
}
