/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to left,  yellow ,  blue);
	color: black;
}

/*estilo de los links*/
a:link{
	color: orange;
}

a:visited{
	color: green;
}
