/*Estilo del cuerpo de la página*/
body {
	background-image: linear-gradient(to left,  orange ,  brown);
	color: black;
}

/*estilo de los links*/
a:link{
	color: white;
}

a:visited{
	color: yellow;
}
